@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme tokens */
:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);
  --opaque-button-border-intensity: -8;
  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --border: 0 0% 91%;
  --card: 0 0% 98%;
  --card-foreground: 0 0% 9%;
  --card-border: 0 0% 95%;
  --sidebar: 0 0% 96%;
  --sidebar-foreground: 0 0% 9%;
  --sidebar-border: 0 0% 93%;
  --sidebar-primary: 217 91% 60%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 0 0% 92%;
  --sidebar-accent-foreground: 0 0% 9%;
  --sidebar-ring: 217 91% 60%;
  --popover: 0 0% 94%;
  --popover-foreground: 0 0% 9%;
  --popover-border: 0 0% 91%;
  --primary: 217 91% 60%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 90%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 93%;
  --muted-foreground: 0 0% 40%;
  --accent: 217 15% 92%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --input: 0 0% 80%;
  --ring: 217 91% 60%;
  --chart-1: 217 91% 55%;
  --chart-2: 173 58% 39%;
  --chart-3: 262 52% 47%;
  --chart-4: 32 95% 44%;
  --chart-5: 340 75% 55%;
  --font-sans: Inter, Roboto, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: .5rem;
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);
  --opaque-button-border-intensity: 9;
  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);
  --background: 0 0% 7%;
  --foreground: 0 0% 98%;
  --border: 0 0% 15%;
  --card: 0 0% 9%;
  --card-foreground: 0 0% 98%;
  --card-border: 0 0% 12%;
  --sidebar: 0 0% 11%;
  --sidebar-foreground: 0 0% 98%;
  --sidebar-border: 0 0% 14%;
  --sidebar-primary: 217 91% 60%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 0 0% 14%;
  --sidebar-accent-foreground: 0 0% 98%;
  --sidebar-ring: 217 91% 60%;
  --popover: 0 0% 13%;
  --popover-foreground: 0 0% 98%;
  --popover-border: 0 0% 16%;
  --primary: 217 91% 60%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 16%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 15%;
  --muted-foreground: 0 0% 63%;
  --accent: 217 15% 17%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --input: 0 0% 25%;
  --ring: 217 91% 60%;
  --chart-1: 217 91% 70%;
  --chart-2: 173 58% 65%;
  --chart-3: 262 52% 70%;
  --chart-4: 32 95% 65%;
  --chart-5: 340 75% 70%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }
}
